/*Header*/
header{
	padding: 0.5rem !important;
	border-bottom: 2px solid #7A7E7A;
	margin-bottom: 20px;
	height: 4.5rem !important;
	/* background-color: #6c757d; */
	color:  #3490dc;
	font-weight: 900;
}
.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}
#logo{
	text-align: center;
}
#seeker{
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
#slogan{
	text-align: center;
	flex: 0 0 24%;
}
/*Section*/
section{
	/* border-left: 2px solid #7A7E7A; */
}
/*Aside / Banner*/
aside{
	width: 90%;
	height: 30rem;
	position: sticky;
	top: 5.1rem;
}
#advertisingbanner, #advertisingbanner>img{
	width: 100%;
	height: 100%;
}
/*Footer*/
footer{
	padding: 0.5rem !important;
	border-top: 2px solid #7A7E7A;
	margin-top: 20px;
	text-align: center;
	/* background-color: #6c757d; */
	color:  #3490dc;
	font-weight: 900;
	height: 4.5rem !important;
	/* position: fixed; */
	/* bottom: 0; */
}